<div class="px-4 bg-white">
  <h1 class="text-center text-4xl font-bold">{{ pageTitle }}</h1>
  <div class="flex justify-center">
    <p class="px-2">
      <a
        routerLink="/graduates"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Graduates</a
      >
    </p>

    <p class="px-2">
      <a
        routerLink="/staff"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="capitalize"
        >Staff</a
      >
    </p>

    <p class="px-2">
      <a
        routerLink="/memories"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="capitalize"
        >memories</a
      >
    </p>
  </div>

  <div class="flex justify-center">
    <div class="my-3">
      <input
        type="search"
        class="relative m-0 text-center block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
        id="search"
        placeholder="Search..."
      />
    </div>
  </div>
</div>
