<div class="px-2 md:mx-36">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <img src="" alt="" srcset="" />
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sapiente
      veniam sed tempore dolor, expedita vero, molestiae vitae alias voluptas
      maxime molestias omnis aperiam, quas accusantium laborum nulla quia
      nesciunt!
    </div>
  </div>
</div>

<div class="px-4 flex justify-center bottom-3 sticky my-4">
  <button class="px-2">Next</button>
  <button class="px-2">Previous</button>
</div>
